<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="https://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
	<link rel="stylesheet" type="text/css" href="materialize.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="angular.min.js"></script>
	<script type="text/javascript" src="funcs.js"></script>
	
<script src="login.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="style4.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="print.css">
</head>
<body ng-app="myApp" ng-init="status=true" ng-controller="myCtrl" onload="value()">
	<nav class="navbar navbar-default ">
  		<div class="container-fluid">
    		<div class="navbar-header">
    		</div>
    		<div>
      			<ul class="nav navbar-nav">
      				<div class="row">
      				<div class="col-md-4 col-xs-4 col-sm-4"><button type="button" class="head btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Open Modal</button></div>
        					<!-- Deepti....removed home button, page 1-3 button-->
        					<!--<li class="active">-->
        					<!-- <a href="#">Home</a></li>
        					<li><a href="#">Page 1</a></li>
        					<li><a href="#">Page 2</a></li> 
        					<li><a href="#">Page 3</a></li> -->
 		 					<!-- Deepti....removed home button, page 1-3 button-->
						<div class="pull-right col-md-4 col-xs-8 col-sm-4"><button type="button" onclick="logo()" class="head btn btn-info btn-sm">Log Out</button></div>
						</div>	
        		</ul>
        	</div>
    		</div>
  		</div>
	</nav>
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">
				
				
				
	           		<div class="main" >
						<div class ="row clearfix r1 r3">						
						<div class="col-md-2 col-sm-12 col-xs-12">
								<img  class="img-responsive" src="profile.jpg">
							</div>

							<div class="col-xs-12 col-md-10 col-sm-12">
								<div class="name"><h1>{{input.name}}</h1></div>

							<div class="col-xs-10">
								<div class="name" ng-init="input.name"><h1>{{input.name}}</h1></div>

							</div>
								<div class="row clearfix personaldetails ">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<div class="text-center col-xs-12  col-sm-12 col-md-4"></div>
										<div class="text-center col-xs-12  col-sm-12 col-md-4">EMAIL: {{input.email}}</div>
										<div class="text-center col-xs-12  col-sm-12 col-md-4">CONTACT NUMBER: {{input.contact}}</div>
									</div>
								</div>
		             		</div>
</div>
</div>
              <div class="background">
				 <div class="education">
				 	  <div class="row clearfix">
				 	  	<div class="col-xs-12 col-md-3 col-sm-12">
				 	  		<div class="row 1 clearfix">
				 	  			<div class="col-xs-2 col-md-2 col-sm-2"><img src=""></div>
				 	  			<div class="col-xs-12 col-sm-12 col-md-10 edu r2 r5">Education</div>
				 	  		</div>
				 	  		
				 	  	</div>
				 	  	<div class="col-xs-12 col-md-9 col-sm-12 details">
				 	  		<div class=" maindetails text-center row clearfix 4 ">
				 	  			<div class="col-md-3 col-xs-12 col-sm-12"><h6>COURSE:</h6><br><span class="r4">{{input.course[0]}}</span></div>
				 	  			<div class="col-md-3 col-xs-12 col-sm-12 "><h6>SCHOOL:</h6><br><span class="r4">{{input.school[0]}}</span></div>
				 	  			<div class="col-md-2 col-xs-12 col-sm-12 "><h6>BOARD:</h6><br><span class="r4">{{input.board[0]}}</span></div>
				 	  			<div class="col-md-2 col-xs-12 col-sm-12 "><h6>PERCENTAGE:</h6><br><span class="r4">{{input.percentage[0]}}</span></div>
				 	  			<div class="col-md-2 col-xs-12 col-sm-12"><h6>PASSING YEAR:</h6><br><span class="r4">{{input.passingyear[0]}}</span></div>
				 	  		</div>
				 	  		<hr class="black">
				 	  		<div class="maindetails text-center row clearfix 4">
				 	  			<div class="col-md-3 col-xs-12 col-sm-12 "><h6>COURSE:</h6><br><span class="r4">{{input.course[1]}}</span></div>
				 	  			<div class="col-md-3 col-xs-12 col-sm-12 "><h6>SCHOOL:</h6><br><span class="r4">{{input.school[1]}}</span></div>
				 	  			<div class="col-md-2 col-xs-12 col-sm-12 "><h6>BOARD:</h6><br><span class="r4">{{input.board[1]}}</span></div>
				 	  			<div class="col-md-2 col-xs-12 col-sm-12 "><h6>PERCENTAGE:</h6><br><span class="r4">{{input.percentage[1]}}</span></div>
				 	  				<div class="col-md-2 col-xs-12 col-sm-12 "><h6>PASSING YEAR:</h6><br><span class="r4">{{input.passingyear[1]}}</span></div>
				 	  		</div>

				 	  		<hr class="black">
				 	  		<div class="maindetails text-center row clearfix 4">
				 	  			<div class="col-md-3 col-xs-12 col-sm-12 "><h6>COURSE:</h6><br><span class="r4">{{input.course[2]}}</span></div>
				 	  			<div class="col-md-3 col-xs-12 col-sm-12 "><h6>SCHOOL:</h6><br><span class="r4">{{input.school[2]}}</span></div>
				 	  			<div class="col-md-2 col-xs-12 col-sm-12 "><h6>BOARD:</h6><br><span class="r4">{{input.board[2]}}</span></div>
				 	  				<div class="col-md-2 col-xs-12 col-sm-12 "><h6>PERCENTAGE:</h6><br><span class="r4">{{input.percentage[2]}}</span></div>
				 	  				<div class="col-md-2 col-xs-12 col-sm-12 "><h6>PASSING YEAR:</h6><br><span class="r4">{{input.passingyear[2]}}</span></div>

				 	  		</div>
				                

				 	  	</div>
				 	 </div>
				 	</div>
				 	<br>
		 	  	
                      
		              

					<div class="education">
						<div class="row clearfix">
							<div class="maindetails col-md-3 col-sm-12 col-xs-12">
								<div class="row 1 clearfix">
									<div class="col-xs-2"><img src=""></div>
									<div class="col-xs-12 col-sm-12 col-md-10 edu r2 r5">Extra Activties</div>
								</div>

							</div>
							<div class="maindetails text-center  col-md-9 details ">
								<div class="row clearfix 4 ">
									<div class="col-xs-12 col-md-4 col-sm-12 "><h6>EVENT:</h6><br><span class="r4">{{input.event[0]}}</span></div>
									<div class="col-xs-12 col-md-4 col-sm-12 "><h6>PLACE:</h6><br><span class="r4">{{input.place[0]}}</span></div>
									<div class="col-xs-12 col-md-4 col-sm-12 "> <h6>ROLE:</h6><br><span class="r4">{{input.role[0]}}</span></div>
								</div>
								<hr class="black">
								<div class="row clearfix 4">
									<div class="col-xs-12 col-md-4 col-sm-12 "><h6>EVENT:</h6><br><span class="r4">{{input.event[1]}}</span></div>
									<div class="col-xs-12 col-md-4 col-sm-12 "><h6>PLACE:</h6><br><span class="r4">{{input.place[1]}}</span></div>
									<div class="col-xs-12 col-md-4 col-sm-12 "><h6>ROLE:</h6><br><span class="r4">{{input.role[1]}}</span></div>
								</div>
								<hr class="black">
								<div class="row clearfix 4">
									<div class="col-xs-12 col-md-4 col-sm-12 "><h6>EVENT:</h6><span class="r4">{{input.event[2]}}</span></div>
									<div class="col-xs-12 col-md-4 col-sm-12 "><h6>PLACE:</h6><span class="r4">{{input.place[2]}}</span></div>
									<div class="col-xs-12 col-md-4 col-sm-12 "><h6>ROLE:</h6><span class="r4">{{input.role[2]}}</span></div>
								</div>

	                           
							</div>

						</div>

					</div>
	                 <br>
					<div class="education">
						<div class="row clearfix">
							<div class="maindetails col-md-3 col-sm-12 col-xs-12  ">
								<div class="row 1 clearfix">
									<div class="col-xs-2"><img src=""></div>
									<div class="col-xs-12 col-sm-12 col-md-10 edu r2 r5">Work Experience</div>
								</div>

							</div>
							<div class="maindetails text-center col-md-9 col-sm-12 col-xs-12 details">
								<div class="row clearfix 4">
									<div class="row"><h4>Internship</h4></div>
									<div class="col-xs-12 col-md-4 col-sm-12"><h6>COMPANY NAME :</h6><br><span class="r6">{{input.company[0]}}</span></div>
								
									<div class="col-xs-12 col-md-4 col-sm-12 "> <h6>DURATION:</h6><br><span class="r6">{{input.duration[0]}}</span></div>
									<div class="col-xs-12 col-md-4 col-sm-12"> <h6>ROLE :</h6><br><span class="r6">{{input.role1[0]}}</span></div>
								</div>
								<hr class="black">
							</div>

							</div>

							     <div class="row clearfix">
								<div class="maindetails col-xs-12 col-md-3 col-sm-12 "></div>
								<div class="maindetails text-center col-md-9 col-sm-12 col-xs-12 details  details">
								<div class="row clearfix 4"><h4>Projects</h4></div>
                                <div class="row">
								<div class="col-xs-12 col-md-4 col-sm-12"><h6>TITLE :</h6><br><span class="r6">{{input.title[0]}}</span></div>
								
									<div class="col-xs-12 col-md-4 col-sm-12"><h6>TECHNOLOGY:</h6><br><span class="r6">{{input.technology[0]}}</span></div>
									<div class="col-xs-12 col-md-4 col-sm-12"><h6>DESCRIPTION:</h6><br><span class="r6">{{input.description[0]}}</span></div>
								</div>
								</div>
								</div>
	                            </div>
	                        
                              
	                            <div class="row clearfix">
							<div class="maindetails col-xs-12 col-md-3 col-sm-12 ">
								<div class="row 1 clearfix">
									<div class="maindetails col-xs-12 col-md-2 col-sm-12 "><img src=""></div>
									<div class="col-xs-12 col-sm-12 col-md-10 edu r2 r5">Technical Skills</div>
								</div>
							</div>
								<div class="col-md-9 maindetails col-xs-12 col-sm-12 details">
								<span class="r4">{{input.technicalskills}}</span>
										
								</div>
							</div>
								
							
						</div>


							</div>
						</div>

	                           

				
					<br>
					<div class="row remove">
						<div class="col-md-6 center-block col-xs-6 col-sm-6">
	                     <button id="bt1" type="button" class="pull-right btn btn-primary btn-sm" onclick="createJSON()"><span class="glyphicon glyphicon-upload"></span> UPLOAD</button></div>
	                     <div class="col-md-6  col-xs-6 col-sm-6">
		                 <button id="bt2" type="button" class=" pull-left btn btn-primary btn-sm" onclick="winprint()"><span class="glyphicon glyphicon-print "></span>  PRINT</button></div>

		                
						</div>
					
							</div>	
					
						</div>
	                     
					</div>

	         </div>

	   </div>


</div>

	</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
<!-- Deepti...removed back white colored portion in form-->
  <!--<div class="modal-dialog">-->
  <!-- Deepti...removed back white colored portion in form-->


    <!-- Modal content-->
    <div class="modal-content orange.lighten-5 ">
      <div class="modal-header orange.lighten-5 ">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
      	<form class="form #ffa726 orange.lighten-5 " name="myform" ng-show="status" novalidate v>
	        <div class="main1"ng-show="status">
	        	<div class="row">
        		<div class="col-md-12">
        			<div class="col-md-11"></div>
        			<div class="col-md-1">
        	
        	</div>
        	</div>
        		</div>
	           <div id="personal" class="describe">

	           		<!-- Deepti.... made changes in classes...-->
	              <a class="waves-effect waves-light #ffcc80 orange lighten-3 color1 btn" ng-click="description()">Personal Details</a>
	                  
	                <table class="table">

	                    <tr>
	                    	<div class="input-field col s12">
	                        <td class="r6">Name </td>
	                        <td class="r6"><input type="text" id="name" class="bg" placeholder="Name" required ng-model="input.name"  name="name" value=""></td>
	                        </div>
	                    </tr>
	                    <tr>
	                        <td class="r6"> Email Id</td>
	                        <td colspan="1" class="r6"><input type="email" id="email" class="bg" placeholder="example@domain.com" ng-model="input.email" name="email" required></td>
	                    </tr>
	                    <tr>
	                        <td class="r6"> Contact</td>
	                        <td class="r6"><input type="number" id="contact" class="bg" placeholder="Mobile Number" min="1" name="contact" required ng-model="input.contact" ></td>
	                    </tr>
	                </table>

	             </div>
	            
	         
	          <!--  <div id="file">
	                <input type="file" name="pic" accept="image/*">
	            </div> <div ng-controller="myCtrl">
	          <a class="waves-effect waves-light btn" ng-click="description()">Education Details</a>-->
	            <div id="education" class="describe" >
	            	 <a class="waves-effect waves-light #ffcc80 orange lighten-3 color1 btn" ng-click="description()">Education Details</a><br><br>
	               
	              <table class="table edutable" id="edtable">
	                    <tr>
	                        <th class="r6">Course</th>
	                        <th class="r6">College/School</th>
	                        <th class="r6">Board/University</th>
	                        <th class="r6">Percentage</th>
	                        <th class="r6">Passing Year</th>
	                    </tr>
	                    <tr class="k">
	                        <td class="r6"><input id="course0"  class="bg" type="text" required ng-model="input.course[0]" name="course0"></td>
	                        <td class="r6"><input id="college0"  class="bg" type="text" required ng-model="input.school[0]" name="college0"></td>
	                        <td class="r6"><input id="board0"  class="bg" type="text" required ng-model="input.board[0]" name="board0"></td>
	                        <td class="r6"><input  id="percent0"  class="bg" type="text" required ng-model="input.percentage[0]" name="percent0"></td>
	                        <td class="r6"><input id="pyear0" class="bg"  type="text"  required ng-model="input.passingyear[0]" name="pyear0"></td>
	                    </tr>
						<tr>
							<td class="r6"><input id="course1"  class="bg" type="text"  ng-model="input.course[1]"></td>
							<td class="r6"><input id="college1"  class="bg" type="text"  ng-model="input.school[1]"></td>
							<td class="r6"><input id="board1"  class="bg" type="text"  ng-model="input.board[1]"></td>
							<td class="r6"><input id="percent1"type="text" class="bg"   ng-model="input.percentage[1]"></td>
							<td class="r6"><input id="pyear1"type="text"  class="bg" ng-model="input.passingyear[1]"></td>
						</tr>
						<tr>
							<td class="r6"><input id="course2" type="text" class="bg" required ng-model="input.course[2]"></td>
							<td class="r6"><input id="college2" type="text"   class="bg" ng-model="input.school[2]"></td>
							<td class="r6"><input id="board2"  type="text"   class="bg" ng-model="input.board[2]"></td>
							<td class="r6"><input  id="percent2" type="text"  class="bg"  ng-model="input.percentage[2]"></td>
							<td class="r6"><input  id="pyear2" type="text"    class="bg" ng-model="input.passingyear[2]"></td>
						</tr>

	                </table>
	            </div>

	             
	            <div id="addskills" class="skills" >
	               <a class="waves-effect waves-light #ffcc80 orange lighten-3 color1 btn" ng-click="description()" >TECHNICAL SKILLS</a><br><br>
	                <input  class="r6 bg" id="technical" ng-model="input.technicalskills"type="text" placeholder="example -: c,java,Android,database" class="text">
	            </div>
	            
	            <div id="project" >
	            	 <a class="waves-effect waves-light #ffcc80 orange lighten-3 color1 btn" ng-click="description()">Projects</a><br><br>
	                <table class="edutable" id="projecttable">
	                    <tr>
	                        <th class="r6">Title</th>
	                        <th class="r6">Technology used</th>

	                        <th class="r6">Description</th>
	                    </tr>
	                    <tr>
	                        <td class="r6" colspan="1"><input id="title0" type="text" required ng-model="input.title[0]"></td>
	                        <td class="r6" colspan="1"><input id="technology0"type="text" required ng-model="input.technology[0]"></td>
	                        <td class="r6" colspan="2"><textarea id="description0" required ng-model="input.description[0]"></textarea></td>
	                    </tr>
	                    <tr>
	                        <td class="r6"><input id="title1" type="text"ng-model="input.title[1]"></td>
	                        <td class="r6"><input id="technology1"type="text"ng-model="input.technology[1]"></td>
	                        <td class="r6" colspan="2"><textarea id="description1"ng-model="input.description[1]"></textarea></td>
	                    </tr>
	                    <tr>
	                        <td class="r6"><input id="title2" type="text"ng-model="input.title[2]"></td>
	                        <td class="r6"><input id="technology2"type="text" ng-model="input.technology[2]"></td>
	                        <td class="r6" colspan="2"><textarea id="description2"ng-model="input.description[2]"></textarea></td>
	                    </tr>
	                </table>
	           
	            </div>
	            <div id="intern">
	                 <a class="waves-effect waves-light #ffcc80 orange lighten-3 color1 btn" ng-click="description()">Internship</a><br><br>
	              <table class="edutable" id="interntable">
	                    <tr>
	                        <th class="r6">Company Name</th>
	                        <th class="r6">Duration</th>
	                        <th class="r6">Role</th>
	                    </tr>
	                    <tr>
	                        <td class="r6"><input id="company0"  class="bg" type="text" required ng-model="input.company[0]"></td>
	                        <td class="r6"><input id="duration0"  class="bg" type="text" required ng-model="input.duration[0]"></td>
	                        <td class="r6"><textarea id="role0"  class="bg" required ng-model="input.role1[0]"></textarea></td>
	                    </tr>
	                    
	                </table>
	                
	            </div>


	            <div id="activity">
	                 <a class="waves-effect waves-light #ffcc80 orange lighten-3 color1 btn" ng-click="description()">Extra Activities</a><br><br>
	                <table class="edutable" id="activitytable">
	                    <tr>
	                        <th class="r6">Event</th>
	                        <th class="r6">Place</th>
	                        <th class="r6">Role</th>
	                    </tr>
	                    <tr>
	                        <td class="r6"><input id="event0" type="text" required ng-model="input.event[0]"></td>
	                        <td class="r6"><input id="place0"type="text" required ng-model="input.place[0]"></td>
	                        <td class="r6"><input id="extrarole0"type="text" required ng-model="input.role[0]"></td>
	                    </tr>
	                     <tr>
	                        <td class="r6"><input id="event1" type="text"ng-model="input.event[1]"></td>
	                        <td class="r6"><input id="place1"type="text"ng-model="input.place[1]"></td>
	                        <td class="r6"><input id="extrarole1"type="text" ng-model="input.role[1]"></td>
	                    </tr>
	                     <tr>
	                        <td class="r6"><input id="event2" type="text"ng-model="input.event[2]"></td>
	                        <td class="r6"><input id="place2"type="text" ng-model="input.place[2]"></td>
	                        <td class="r6"><input id="extrarole2"type="text" ng-model="input.role[2]"></td>
	                    </tr>
	                </table>
	                
	            </div>
	            <!-- Deepti..removed skills from form--><!--<div id="skill">
	                <table>
	                     <a class="waves-effect waves-light cyan darken-4 btn" ng-click="description()">Skills</a>
	                    <input class="r6" id="hobby" type="text" required placeholder="example -: singing,playing,Travelling">
	                </table>
	            </div>-->
	              <!-- Deepti..removed skills from form-->
	              
	  
	    </form>
        <!--<p>Some text in the modal.</p>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	<div class="col-md-6">
	 
</div>

	<!--form over -->
	</div>
	<!--form section-->
</div><!--row close-->

<script type="text/javascript">

$(document).ready(function(){

	$("#btn4").hide();
	$( ".edutable" ).clone().appendTo( "edutable" );
/*
	if ($(window).width() <946) {
		$(".main").css({"max-width":"729px"})
   $(".main1").css({"margin-top":"85%"})

   $(".form").css({"left":"0px"})
   $(".form").css({"max-width":"729px"})
    $(".main").css({"position":"relative"})
    $(".main").css({"top":"1290px"})
    $(".form").css({"margin":"0 auto"})
    $(".main").css({"max-width":"729px"})
     

}
else{
	$(".main1").css({"margin-top":"10%"})
}


var width = $(window).width();
$(window).resize(function() {
    if ( $(window).width() < 729) {
        location.reload();
    }
    else if ($(window).width() > 729) {
        location.reload();
    }
})

*/	
})

          function formvisible(){

          	   
				console.log('sucess')

				$( ".form" ).animate({

   
    top: "-1150px",
    
  }, 800
    // Animation complete.
  );

 $( ".visible").animate({

   
    left: "340px",
    
  }, 500
    // Animation complete.
  );
$(".form").css({"display":"block"})
$("#btn4").show();
$("#btn3").hide();


			}


			function formhide(){
				
				console.log('sucess')
				$( ".form" ).animate({

   
    top: "-3174px",
    
  }, 500
    // Animation complete.
  );

 $( ".visible" ).animate({

   
    left: "0px",
    
  }, 500
    // Animation complete.
  );
 $("#btn3").show();
$("#btn4").hide();


 
  

			}

            


             var app = angular.module('myApp', []);
app.controller('myCtrl', ['$scope', function($scope) {
 
  	//$scope.characters=5;

  	
 
}]);
/*var status=true
function toggle(){
	
	if(status===true){
		formvisible();
		status=!status;
	}
	
		if(status==false){
	formhide()
}
	console.log(status);

	
}
/*
app.controller('personal', ['$scope', function($scope) {
  $scope.description = function(){

  	$scope.myVar=!$scope.myVar;
  }
  	;

		
	}]);		
app.controller('projects', ['$scope', function($scope) {
  $scope.description = function(){

  	$scope.myVar=!$scope.myVar;
  }
  	;

		
	}]);		
app.controller('skills', ['$scope', function($scope) {
  $scope.description = function(){

  	$scope.myVar=!$scope.myVar;
  }
  	;

		
	}]);*/

			</script>
			
			
	</body>
	</html>