img.img-responsive {
	
border-radius: 50%;
width:140px!important;
height:140px!important;
margin-top: 4%;
margin-left: 34%;
margin-top:4%;
padding-bottom:4%;


}
body{
	height:60px;
}
.main{
margin-top:8%;
margin-left:auto;
margin-right:auto;
background-color:#e0e0e0;
z-index:95;
font-family: Rockwell,"Courier New", Courier, "Lucida Console", Monaco, monospace,
                 Times, "Times New Roman", serif;
position: relative;

}
.name h1{
	color:white;
	margin-left:25%;
	font-size: 50px;
    font-family: Rockwell,"Courier New", Courier, monospace,
                 Times, "Times New Roman", serif,"Lucida Sans Unicode","Gill Sans Extrabold";

}
.r1{
background-color:#82b1ff;
margin-left:auto;
margin-right:auto;
}
.r2{
	color:#82b1ff;
}
.r3{
	color:white;
	font-family:"Lucida Sans Unicode", Courier,"Gill Sans Extrabold",Grande,"Lucida Console";
}
.r5{
	font-family:"Lucida Sans Unicode", Courier,"Gill Sans Extrabold",Grande,"Lucida Console",monospace;
}

#edu{
	font-weight: bold;
	font-family: Rockwell,"Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
    font-size:20px;

}
ul li{
	display:inline;


}
li{
	margin :0 0 100px 0;
}
.details{
	border-left: 1px solid #82b1ff;

     
}
.education{
	margin-top: 3%;
	margin-left: 3%;

}
.r6{
	color:white;
}
.degree{
font-weight:bold;
padding-left:2%;
padding-top:2%; 
padding-bottom: 2%;
padding-right: 2%;
color:black;
font-style: italic;
font-family: Courier New;
}
.university,.board,.percentage,.passingyear{
	padding-left:2%;
padding-top:2%; 
padding-bottom: 2%;
padding-right: 2%;
font-weight: bold;
color:black;
font-style:italic;
font-family: Courier New;
}

.edu,.technicalskills{
	font-weight: bolder;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 15%;
	margin-bottom:15%;
	font-size: 20px;
}
.work-experience,.technicalskills{
	margin-left: 3%;
}
.parameters{
	margin-left: 25%;
}
.technicalskills{
	font-weight: bolder;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 15%;
	margin-bottom:15%;
	font-size: 35px;

}
.r4{
	color:#757575;
	font-family:Minion;	
}

.remove{
	margin-left:40%;
	margin-right: 40%;
}
form{
	position:relative;
	z-index:99;
	display:none;
	top: -2174px;
	background-image:url(background1.jpg);

}
table#edtable{
position: relative;
z-index:99;
}
.show{
	position: relative;
	top:20px;
}
.visible{
	position: relative;

}
#btn3{
	font-size:30px;
	padding:2px;
	z-index:100;
	color:rgb(130, 177, 255);
	margin:6px;
}
#btn4{
	font-size:30px;
	color:rgb(130, 177, 255) !important;
	padding:2px;
	z-index:100;
	margin:6px;
}
#btn3:hover{
color: green ;
cursor:pointer;
}
#btn4:hover{
	color: green !important ;
cursor:pointer;

}
.navbar-default{
	position:fixed !important;
	z-index:100 !important;
}