	<!DOCTYPE html> 
	<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="angular.min.js"></script>

	</head>
	<body  ng-app="" ng-init="status=true">
		<div class="container"  >
			<form>
        <div class="main1"ng-show="status">
            <div id="personal">
                <h2>Personal Details</h2>
                <table class="table">
                    <tr>
                        <td>Name </td>
                        <td><input type="text" id="name" placeholder="Name" required ng-model="input.name"></td>

                    </tr>
                    <tr>
                        <td> Email Id</td>
                        <td colspan="1"><input type="email" placeholder="example@domain.com" ng-model="input.email" required></td>
                    </tr>
                    <tr>
                        <td> Contact</td>
                        <td><input type="number" placeholder="Mobile Number" required ng-model="input.contact" ></td>
                    </tr>
                </table>
            </div>
            <div id="file">
                <input type="file" name="pic" accept="image/*">
            </div>

            <div id="education">
                <h2>Education Details</h2>
                <table class="edutable" id="edtable">
                    <tr>
                        <th>Course</th>
                        <th>College/School</th>
                        <th>Board/University</th>
                        <th>Percentage</th>
                        <th>Passing Year</th>
                    </tr>
                    <tr>
                        <td><input id="course0" type="text" required ng-model="input.course[0]"></td>
                        <td><input id="college0" type="text" required ng-model="input.school[0]"></td>
                        <td><input id="board0" type="text" required ng-model="input.board[0]"></td>
                        <td><input  id="percent0" type="text" required ng-model="input.percentage[0]"></td>
                        <td><input id="pyear0" type="number" min="1985" required ng-model="input.passingyear[0]"></td>
                    </tr>
					<tr>
						<td><input id="course1" type="text" required ng-model="input.course[1]"></td>
						<td><input id="college1" type="text"  ng-model="input.school[1]"></td>
						<td><input id="board1" type="text"  ng-model="input.board[1]"></td>
						<td><input id="percent1"type="text"  ng-model="input.percentage[1]"></td>
						<td><input id="percent2"type="text" min="1985"  ng-model="input.passingyear[1]"></td>
					</tr>
					<tr>
						<td><input id="course2" type="text"  id="course0" required ng-model="input.course[2]"></td>
						<td><input id="college2" type="text"  ng-model="input.school[2]"></td>
						<td><input id="board2"  type="text"  ng-model="input.board[2]"></td>
						<td><input  id="percent2" type="text"  ng-model="input.percentage[2]"</td>
						<td><input  id="pyear2" type="text" min="1985"  ng-model="input.passingyear[2]"></td>
					</tr>
                </table>
            </div>
            <div id="addskills" class="skills">
                <h2>Technical Skills</h2>
                <input  id="technical" ng-model="input.technicalskills"type="text" placeholder="example -: c,java,Android,database" class="text">
            </div>
            
            <div id="project">
                <h2>Projects</h2>
                <table class="edutable" id="projecttable">
                    <tr>
                        <th>Title</th>
                        <th>Technology used</th>

                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><input id="title0" type="text" ng-model=""></td>
                        <td><input id="technology0"type="text" ng-model=""></td>
                        <td colspan="2"><textarea id="description0" ng-model=""></textarea></td>
                    </tr>
                    <tr>
                        <td><input id="title1" type="text"></td>
                        <td><input id="technology1"type="text"></td>
                        <td colspan="2"><textarea id="description1"></textarea></td>
                    </tr>
                    <tr>
                        <td><input id="title2" type="text"></td>
                        <td><input id="technology2"type="text"></td>
                        <td colspan="2"><textarea id="description2"></textarea></td>
                    </tr>
                </table>
           
            </div>
            <div id="intern">
                <h2>Internships</h2>
                <table class="edutable" id="interntable">
                    <tr>
                        <th>Company Name</th>
                        <th>Duration</th>
                        <th>Role</th>
                    </tr>
                    <tr>
                        <td><input id="company0" type="text"></td>
                        <td><input id="duration0"type="text"></td>
                        <td><textarea id="role0"></textarea></td>
                    </tr>
                    <tr>
                        <td><input id="company1" type="text"></td>
                        <td><input id="duration1"type="text"></td>
                        <td><textarea id="role1"></textarea></td>
                    </tr>
                    <tr>
                        <td><input id="company2" type="text"></td>
                        <td><input id="duration2"type="text"></td>
                        <td><textarea id="role2"></textarea></td>
                    </tr>
                </table>
                
            </div>


            <div id="activity">
                <h2>Extra Curricular Activities</h2>
                <table class="edutable" id="activitytable">
                    <tr>
                        <th>Event</th>
                        <th>Place</th>
                        <th>Role</th>
                    </tr>
                    <tr>
                        <td><input id="event0" type="text"></td>
                        <td><input id="place0"type="text"></td>
                        <td><input id="extrarole0"type="text"></td>
                    </tr>
                     <tr>
                        <td><input id="event1" type="text"></td>
                        <td><input id="place1"type="text"></td>
                        <td><input id="extrarole1"type="text"></td>
                    </tr>
                     <tr>
                        <td><input id="event2" type="text"></td>
                        <td><input id="place2"type="text"></td>
                        <td><input id="extrarole2"type="text"></td>
                    </tr>
                </table>
                
            </div>
            <div id="skill">
                <table>
                    <h2>Hobbies</h2>
                    <input id="hobby" type="text" placeholder="example -: singing,playing,Travelling">
                </table>
            </div>
            <button type="submit" value="Submit" id="submit"ng-click="status=!status">Submit</button>
              <button type="submit" action="//pdfcrowd.com/url_to_pdf/?width=210mm&height=297mm" value="Submit">Print PDF</button>
        </div>
    </form>
</div>
			<div class="main" ng-show="!status">


				<div class ="row clearfix r1">
					
							<div class="col-md-2">
							<img  class="img-responsive" src="profile.jpg">
						</div>
						<div class="col-md-10">
							<div class="name"><h1 >{{input.name}}</h1></div>
					</div>
					<div class="row clearfix personaldetails ">
						<div class="col-md-2"></div>
						<div class="col-md-2">EMAIL: {{input.email}}</div>
						<div class="col-md-2">CONTACT NUMBER: {{input.contact}}</div>
					</div>
	                
	 

				</div>

			 <div class="education">
			 	  <div class="row clearfix">
			 	  	<div class="col-md-3">
			 	  		<div class="row 1 clearfix">
			 	  			<div class="col-md-2"><img src=""></div>
			 	  			<div class="col-md-10 edu">Education</div>
			 	  		</div>
			 	  		
			 	  	</div>
			 	  	<div class="col-md-9 details">
			 	  		<div class="row clearfix 4 ">
			 	  			<div class="col-md-3 degree">{{input.course[0]}}</div>
			 	  			<div class="col-md-3 university">{{input.school[0]}}</div>
			 	  			<div class="col-md-2 board">{{input.board[0]}}</div>
			 	  			<div class="col-md-2 percentage">{{input.percentage[0]}}</div>
			 	  			<div class="col-md-2 percentage">{{input.passingyear[0]}}</div>
			 	  		</div>
			 	  		<div class="row clearfix 4">
			 	  			<div class="col-md-3 degree">{{input.course[1]}}</div>
			 	  			<div class="col-md-3 university">{{input.school[1]}}</div>
			 	  			<div class="col-md-2 board">{{input.board[1]}}</div>
			 	  			<div class="col-md-2 percentage">{{input.percentage[1]}}</div>
			 	  				<div class="col-md-2 passingyear">{{input.passingyear[1]}}</div>
			 	  		</div>
			 	  		<div class="row clearfix 4">
			 	  			<div class="col-md-3 degree">{{input.course[2]}}</div>
			 	  			<div class="col-md-3 university">{{input.school[2]}}</div>
			 	  			<div class="col-md-2 percentage">{{input.board[2]}}</div>
			 	  				<div class="col-md-2 passingyear">{{input.percentage[2]}}</div>
			 	  				<div class="col-md-2 passingyear">{{input.passingyear[2]}}</div>

			 	  		</div>
			                

			 	  	</div>
	 	  	</div>

		</div>

				<div class="education">
					<div class="row clearfix">
						<div class="col-md-3">
							<div class="row 1 clearfix">
								<div class="col-md-2"><img src=""></div>
								<div class="col-md-10 edu">Education</div>
							</div>

						</div>
						<div class="col-md-9 details">
							<div class="row clearfix 4 ">
								<div class="col-md-4 degree">SECONDARY</div>
								<div class="col-md-4 university">CBSE</div>
								<div class="col-md-4 percentage">92%</div>
							</div>
							<div class="row clearfix 4">
								<div class="col-md-4 degree">SENIOR SECONDARY</div>
								<div class="col-md-4 university">CBSE</div>
								<div class="col-md-4 percentage">90%</div>
							</div>
							<div class="row clearfix 4">
								<div class="col-md-4 degree">BTECH IT</div>
								<div class="col-md-4 university">UPTU</div>
								<div class="col-md-4 percentage">75%</div>
							</div>

                           
						</div>

					</div>

				</div>
                 <br>
				<div class="work-experience">
					<div class="row clearfix">
						<div class="col-md-3 ">
							<div class="row 1 clearfix">
								<div class="col-md-2"><img src=""></div>
								<div class="col-md-10 edu">Work Experience</div>
							</div>

						</div>
						<div class="col-md-9 details">
							<div class="row clearfix 4 ">
								<div class="col-md-4 degree">INTERNSHIP

							<div class="row clearfix 12">
								<div class="col-md-12 parameters">DETAIL
								</div>
								</div>
							</div>
								<div class="col-md-4 university">MICROLABS</div>
								<div class="col-md-4 percentage">DURATION</div>
							</div>
							<div class="row clearfix 4">
								<div class="col-md-4 degree">PROJECTS


							<div class="row clearfix 12">
								<div class="col-md-10 parameters">TITLE 
								</div>
								</div>				


							<div class="row clearfix 12">
								<div class="col-md-12 parameters">TECHNOLOGY
								</div>
								</div>
							<div class="row clearfix 12">
								<div class="col-md-12 parameters">DESCRIPTION
								</div>
								</div>
								</div>
								<div class="col-md-4 university"></div>
								<div class="col-md-4 percentage"></div>
							</div>
							
						</div>
					</div>
				</div>
				<br>
				
							
				<div class="education">
					<div class="row clearfix">
						<div class="col-md-3">
							<div class="row 1 clearfix">
								<div class="col-md-2"><img src=""></div>
								<div class="col-md-10 edu">Technical Skills</div>
							</div>

						</div>
						<div class="col-md-9 details">
							{{input.technicalskills}}

                           
						</div>

					</div>
         </div>
			</div>
	</body>
	</html>